.status-block{
  i{
    font-size: 2em;
  }
  p{
    font-size: .8em;
    margin-bottom: 0;
  }
}
.fa-chevron-righ{
  font-size: 1.5em;
}
ul.list-group{
  button{
    background-color: rgba(202, 240, 248, .2);
  }
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.2em;
}

